.search {
  flex: 0 1 auto;
  align-self: flex-start;

  p {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Amatic SC;
    font-size: 25px;
    cursor: pointer;
    @media screen and (orientation: portrait) {
      display: none;
    }
  }

  img {
    width: 121px;
    height: 98px;
    cursor: pointer;
  }
}

.settings {
  flex: 0 1 auto;
  align-self: flex-start;

  img {
    width: 3em;
    height: 3em;
  }
}

#settings {
  form {
    padding: 30px;
  }
}

.favourite {
  margin: 0 auto;
  display: block;
}

.spellname {
  font-family: Lora;
  font-size: 1.5em;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: bold;
}

#inputform {
  position: relative;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  font-family: Ubuntu Mono;
  display: none;
}

#searchbook {
  display: none;
}

#neadlestring {
  width: 95%;
  vertical-align: middle;
  margin-bottom: 5px;
}
@media all {
  html.with-featherlight {
    overflow: hidden;
  }

  .featherlight {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2007483647;
    text-align: center;
    white-space: wrap;
    background: #333;
    background: rgba(0, 0, 0, 0);
  }

  .featherlight:last-of-type {
    background: rgba(0, 0, 0, .8);
  }

  .featherlight:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  .featherlight-content {
    position: fixed;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 90%;
    padding: 5px;
    text-align: left;
    font-size: 1.1em;
    background-color: white;
    z-index: 2147483647;
    overflow: auto;
  }
  @media screen and (orientation: portrait) {
    .featherlight-content {
      font-size: 0.5em;
    }

    .featherlight-close-icon {
      font-size: 1.8em;
    }

    .featherlight-content h2 {
      font-size: 1em;
      font-family: Lora;
    }
  }

  .featherlight-content h2,
  h3 {
    font-family: Lora;
  }

  .featherlight .featherlight-inner {
    span {
      background-color: yellow;
    }
    display: block;
  }

  .featherlight link.featherlight-inner,
  .featherlight script.featherlight-inner,
  .featherlight style.featherlight-inner {
    display: none;
  }

  .featherlight-close-icon {
    position: absolute;
    z-index: 9999;
    top: 0;
    right: 0;
    cursor: pointer;
    text-align: center;
    font-family: Lora;
    font-size: 3em;
    background: #fff;
    background: rgba(255, 255, 255, .3);
    color: #000;
    border: 0;
    padding: 0;
  }

  .featherlight .featherlight-close-icon::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .featherlight .featherlight-image {
    width: 100%;
  }

  .featherlight-iframe .featherlight-content {
    border-bottom: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }

  .featherlight iframe {
    border: 0;
  }

  .featherlight * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
@media screen and (orientation: portrait) {
  .circle,
  .circle2 {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 1px;
    border: 1px solid #666;
    color: #000000;
    text-align: center;
    font: 1.5em Ubuntu Mono;
    letter-spacing: 3px;
    cursor: pointer;
  }
}

.selector > label {
  display: block;
  float: left;
  width: 20%;
  vertical-align: right;
}

.selector > select {
  display: block;
  width: 30%;
  vertical-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.spellclass {
  position: relative;
  margin: 0 auto;
  width: 65%;
  font-family: Ubuntu Mono;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  @media screen and (orientation: portrait) {
    width: 90%;
  }
}

.spellCell {
  flex: 1 1 auto;
  background-color: #FFFFFF;
  border: 1px solid #AAAAAA;
  border-radius: 6px;
  box-shadow: 0 5px #999;
  padding: 5px;
  font-size: 25px;
  cursor: pointer;

  &:active {
    box-shadow: 0 2px #999;
    transform: translateY(4px);
  }
  @media screen and (orientation: portrait) {
    flex: 1 1 auto;
    padding: 3px;
    font-size: 18px;
  }
}

.numbers {
  position: relative;
  width: 100%;
  text-align: center;
}

.hide {
  display: none;
}

.white_content {
  display: none;
}

.spelllist {
  a {
    text-decoration: none;
    color: #000000;
    padding: 2px;
  }

  a:hover {
    text-decoration: none;
    color: #ff9625;
  }
}

#table {
  position: relative;
  margin: 0 auto;
  top: 1em;
  font-family: Ubuntu Mono;
  font-size: 18px;
  width: 65%;
  height: auto;
  text-align: center;
  vertical-align: middle;
  border-collapse: collapse;
  display: none;
  @media screen and (orientation: portrait) {
    font-size: 14px;
    width: 90%;
  }
}

.TableCell2 {
  display: table-cell;
  vertical-align: middle;
  width: 20em;
  height: 2.5em;
  border: 1px solid #AAAAAA;
  padding: 1px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
  @media screen and (orientation: portrait) {
    width: 15em;
    height: auto;
  }
}

.TableRow {
  display: table-row;
}

.TableBody {
  display: table-row-group;
}
